        <footer class="footer">    
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-py-60">
                            <div class="row">
                                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                                    <a href="index.html#" class="logo-footer">
                                        <img src="assets/assetsCatal/images/logo-light.png" height="24" alt="">
                                    </a>
                                    <p class="mt-4">Tienda de lenceria Miraflores - Perú.</p>
                                    <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                        
                                        <li class="list-inline-item"><a href="https://www.instagram.com/seduttiva_lingerie/" target="_blank" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                       
                                    </ul><!--end icon-->
                                </div><!--end col-->
                        
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-12 mb-12 pb-2">
                                            <h5 class="footer-head mb-0">Lenceria</h5>
                                        </div><!--end col-->

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <ul class="list-unstyled footer-list">
                                                <li><i class="uil uil-angle-right-b me-1"></i> #Body</li>
                                                <li><i class="uil uil-angle-right-b me-1"></i> #Corset </li>
                                                <li><i class="uil uil-angle-right-b me-1"></i> #Mayas </li>
                                                <li><i class="uil uil-angle-right-b me-1"></i>  #Bady doll </li>
                                            </ul>
                                        </div><!--end col-->
                                
                                        <div class="col-lg-6 col-md-6 col-12 mt-2 mt-sm-0">
                                            <ul class="list-unstyled footer-list">
                                                <li><a  class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Catálogo </a></li>
                                                <li><a  class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Sobre SEDUTTIVA </a></li>
                                                <li><a  class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contacto </a></li>
                                            </ul>
                                        </div><!--end col-->
                                
                                       
                                    </div><!--end row-->
                                </div><!--end col-->

                                <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                    <h5 class="footer-head">Contacto</h5>
                                    <p class="mt-4">Siguénos en las redes sociales o contáctanos al siguiente numero.</p>
                                    <form>
                                        <div class="row">
                                            <!-- <div class="col-lg-12">
                                                <div class="foot-subscribe mb-3">
                                                    <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                                    <div class="form-icon position-relative">
                                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                                        <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <div class="col-lg-12">
                                                <div class="d-grid">
                                                    <a href="tel:+51932254527" class="btn btn-sm btn-soft-primary mt-2">Whatsapp: 932 254 527</a>
                                        
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-py-30 footer-border">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <i class="uil uil-truck align-middle h5 mb-0 me-2"></i>
                                            <h6 class="mb-0"> Envíos a todo el Perú</h6>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <i class="uil uil-archive align-middle h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Showroom Miraflores</h6>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <i class="uil uil-transaction align-middle h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Diversos metodos de pago</h6>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <i class="uil uil-shield-check align-middle h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Pagos seguro</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-py-30 footer-border">
                            <div class="container text-center">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        <div class="text-sm-start">
                                            <p class="mb-0">© 2023 Seduttivaperu. Desarrollado  <i class="mdi mdi-heart text-danger"></i> por <a href="https://www.buckapi.us" target="_blank" class="text-reset">Buckapi</a>.</p>
                                        </div>
                                    </div><!--end col-->
        
                                    <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                        <ul class="list-unstyled text-sm-end mb-0">
                                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/assetsCatal/images/payments/american-ex.png" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/assetsCatal/images/payments/discover.png" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/assetsCatal/images/payments/master-card.png" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/assetsCatal/images/payments/paypal.png" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/assetsCatal/images/payments/visa.png" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                                        </ul>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end container-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

     
       
