    
<!--<div class="checkout__page--area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="main checkout__mian">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="checkout__content--step section__contact--information">
                            <div class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                 ## <a class="previous__link--content" [routerLink]="['../cart']">< Volver al carro</a> ####comentado##
                                <h2 class="section__header--title h3">Información de contacto</h2>
                                <p class="layout__flex--item">
                                    ya tienes una cuenta?
                                    <a class="layout__flex--item__link" [routerLink]="['../login']" >Inicia session</a>  
                                </p>
                            </div>
                            <div class="customer__information">
                                <div class="checkout__email--phone mb-12">
                                    <label>
                                       <input  class="checkout__input--field border-radius-5"  upperCase  type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Campo requerido
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="checkout__email--phone mb-12">
                                    <label>
                                        <input type="password" class="checkout__input--field border-radius-5" id="password" formControlName="password" placeholder="*******"  [(ngModel)]="user.password" 
                                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors}" required>
                                        <div *ngIf="submitted && f['password'].errors"class="invalid-feedback">
                                            <div ngClass="f['password'].errors.required">
                                            La contraseña es requerida.
                                            </div>
                                        </div>
                                    </label>
                                </div>

                                <div class="checkout__checkbox">
                                    <input class="checkout__checkbox--input" id="check1" type="checkbox">
                                    <span class="checkout__checkbox--checkmark"></span>
                                    <label class="checkout__checkbox--label" for="check1">Acepto los términos y condiciones</label>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__content--step section__shipping--address">
                            <div class="section__header mb-25">
                                <h2 class="section__header--title h3">Detalles de cuenta</h2>
                            </div>
                            <div class="section__shipping--address__content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-20">
                                        <div class="checkout__input--list ">
                                            <label class="checkout__input--label mb-5" for="input1">Nombres <span class="checkout__input--label__star">*</span></label>
                                            <input class="checkout__input--field border-radius-5" placeholder="Nombres " id="input1"  type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-20">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-5" for="input2">Apellidos <span class="checkout__input--label__star">*</span></label>
                                            <input class="checkout__input--field border-radius-5" placeholder="Apellidos" id="input2"  type="text">
                                        </div>
                                    </div>
                                    <div class="col-12 mb-20">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-5" for="input3">Cédula de ciudadanía <span class="checkout__input--label__star">*</span></label>
                                            <input class="checkout__input--field border-radius-5" placeholder="Cédula de ciudadanía" id="input3" type="text">
                                        </div>
                                    </div>
                                 
                                     <div class="col-lg-6 mb-20">
                                        <div   class=" checkout__input--lis" >
                                            <label class="checkout__input--label mb-5" for="country">Provincia <span class="checkout__input--label__star">*</span></label>
                                               
                                            <div class="checkout__input--select select">
                                                <select   #loations class="form-control checkout__input--select__field border-radius-5 list " id="province"  (change)="setProv(loations.value)" >

                                                    <option   [hidden]="provSelected"  >
                                                    <span >
                                                    Seleccione...  
                                                    </span>

                                                </option>
                                                    <option   *ngFor="let location of locations;let i = index"value="{{i}}">{{location.prov}}  </option>
                                                  
                                                </select>
                                            </div>   
                                        </div>
                                    </div>
                                     <div class="col-lg-6 mb-20">
                                        <div   class="form-group"  [hidden]="!provSelected">
                                             <label class="checkout__input--label mb-5" for="country">Ciudad <span class="checkout__input--label__star">*</span></label>
                                             <div class="checkout__input--select select" >
                                                <select (change)="setCity(citiesH.value)" class="form-control checkout__input--select__field border-radius-5 list" id="city"   *ngIf="locations[indexProvincia]!=undefined"     #citiesH >
                                                     <option   [hidden]="cityObjSelected"  >
                                                    <span >
                                                    Seleccione...  
                                                    </span>
                                                    </option >
                                                    <option   *ngFor="let city of locations[indexProvincia].cities ;let i = index"  value="{{i}}">{{city.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-12 mb-20">
                                        <div class="checkout__input--list">
                                            <input class="checkout__input--field border-radius-5" placeholder="Apartamento, suite, etc."  type="text">
                                        </div>
                                    </div>
                                    <div class="checkout__checkbox">
                                        <input class="checkout__checkbox--input" id="check1" type="checkbox">
                                        <span class="checkout__checkbox--checkmark"></span>
                                        <label class="checkout__checkbox--label" for="check1">Retirar en oficina transportadora</label>
                                    </div>
                                    <div class="checkout__checkbox">
                                        <input class="checkout__checkbox--input" id="check1" type="checkbox">
                                        <span class="checkout__checkbox--checkmark"></span>
                                        <label class="checkout__checkbox--label" for="check1">Enviar a domicilio</label>
                                    </div>
                                </div>
                            </div>
 
                        </div>
                        <div class="order-notes mb-20">
                            <label class="checkout__input--label mb-5" for="order">Notas </label>
                           <textarea class="checkout__notes--textarea__field border-radius-5" id="order" placeholder="Notes sobre su orden, por ejemplo detalles o puntos de referencia para el envio" spellcheck="false"></textarea>
                        </div>
                        <div class="checkout__content--step__footer d-flex align-items-center">
                        
                           
                        </div>
                     ###   <button class="payment__history--link primary__btn" type="submit">Continuar</button> ##comentado##
                        <button _ngcontent-pfm-c79="" type="submit" class="checkout__now--btn primary__btn">Continuar</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-6" [hidden]="!submitted">
                <aside class="checkout__sidebar sidebar border-radius-10">
                    <h2 class="checkout__order--summary__title text-center mb-15">Resúmen de orden</h2>
                    <div class="cart__table checkout__product--table">
                        <table class="cart__table--inner">
                            <tbody class="cart__table--body">
                                <tr class="cart__table--body__items" *ngFor="let product of _butler.car; let index = index ">
                                    <td class="cart__table--body__list">
                                        <div class="product__image two  d-flex align-items-center">
                                            <div class="product__thumbnail border-radius-5">
                                                <a class="display-block" ><img class="display-block border-radius-5" src="{{product.images[0]}}" alt="cart-product"></a>
                                                <span class="product__thumbnail--quantity">1</span>
                                            </div>
                                            <div class="product__description">
                                                <h4 class="product__description--name"><a >{{product.name}}</a></h4>
                                                <span class="product__description--variant">{{product.quantity}} x {{product.price}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__table--body__list">
                                        <span class="cart__price">$ {{product.price* product.quantity | number :'1.2-2'}}</span>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table> 
                    </div>
                    <div class="checkout__total">
                        <table class="checkout__total--table">
                            <tbody class="checkout__total--body">
                                <tr class="checkout__total--items">
                                    <td class="checkout__total--title text-left">Subtotal </td>
                                    <td class="checkout__total--amount text-right">${{_butler.subTotal}}</td>
                                </tr>
                                <tr class="checkout__total--items">
                                    <td class="checkout__total--title text-left">Envio</td>
                                    <td class="checkout__total--calculated__text text-right">${{fee}}</td>
                                </tr>
                            </tbody>
                            <tfoot class="checkout__total--footer">
                                <tr class="checkout__total--footer__items">
                                    <td class="checkout__total--footer__title checkout__total--footer__list text-left">Total </td>
                                    <td class="checkout__total--footer__amount checkout__total--footer__list text-right">${{_butler.subTotal+fee}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment__history mb-30">
                        <h3 class="payment__history--title mb-20">Métodos de pago</h3>
                        <ul class="payment__history--inner d-flex">
                            <li class="payment__history--list"><button class="payment__history--link primary__btn" type="submit">Transferencia</button></li>
                            <li class="payment__history--list"><button class="payment__history--link primary__btn" type="submit">BinancePAY</button></li>
                            <li class="payment__history--list"><button class="payment__history--link primary__btn" type="submit">Payphone</button></li>
                     
                        </ul>
                    </div>
                    <button class="checkout__now--btn primary__btn" type="submit">Pagar ahora</button>
                </aside>
            </div>
            
        </div>
    </div>
</div>-->

   <!-- Hero Start -->
   <section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h4 class="title mb-0"> Checkouts </h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a href="index.html">Seduttiva Perú</a></li>
                    <li class="breadcrumb-item"><a href="index-shop.html">Catalogo</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkouts</li>
                </ul>
            </nav>
        </div>
    </div> <!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- Hero End -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4 order-md-last">
                <div class="card rounded shadow p-4 border-0">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <span class="h5 mb-0">Your cart</span>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </div>
                    <ul class="list-group mb-3 border">
                        <li class="d-flex justify-content-between lh-sm p-3 border-bottom">
                            <div>
                                <h6 class="my-0">Product name</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$12</span>
                        </li>
                        <li class="d-flex justify-content-between lh-sm p-3 border-bottom">
                            <div>
                                <h6 class="my-0">Second product</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$8</span>
                        </li>
                        <li class="d-flex justify-content-between lh-sm p-3 border-bottom">
                            <div>
                                <h6 class="my-0">Third item</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$5</span>
                        </li>
                        <li class="d-flex justify-content-between bg-light p-3 border-bottom">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                                <small>EXAMPLECODE</small>
                            </div>
                            <span class="text-success">−$5</span>
                        </li>
                        <li class="d-flex justify-content-between p-3">
                            <span>Total (USD)</span>
                            <strong>$20</strong>
                        </li>
                    </ul>
            
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </form>
                </div>
            </div><!--end col-->
            
            <div class="col-md-7 col-lg-8">
                <div class="card rounded shadow p-4 border-0">
                    <h4 class="mb-3">Billing address</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name" value=""
                                    required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name" value=""
                                    required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text bg-light text-muted border">@</span>
                                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                                    <div class="invalid-feedback"> Your username is required. </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Email <span
                                        class="text-muted">(Optional)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                    required>
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="address2" class="form-label">Address 2 <span
                                        class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="address2"
                                    placeholder="Apartment or suite">
                            </div>

                            <div class="col-md-5">
                                <label for="country" class="form-label">Country</label>
                                <select class="form-select form-control" id="country" required>
                                    <option value="">Choose...</option>
                                    <option>United States</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid country.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="state" class="form-label">State</label>
                                <select class="form-select form-control" id="state" required>
                                    <option value="">Choose...</option>
                                    <option>California</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>


                        <div class="form-check mt-4 pt-4 border-top">
                            <input type="checkbox" class="form-check-input" id="same-address">
                            <label class="form-check-label" for="same-address">Shipping address is the same as my
                                billing address</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="save-info">
                            <label class="form-check-label" for="save-info">Save this information for next
                                time</label>
                        </div>


                        <h4 class="mb-3 mt-4 pt-4 border-top">Payment</h4>

                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" type="radio" class="form-check-input"
                                    checked required>
                                <label class="form-check-label" for="credit">Credit card</label>
                            </div>
                            <div class="form-check">
                                <input id="debit" name="paymentMethod" type="radio" class="form-check-input"
                                    required>
                                <label class="form-check-label" for="debit">Debit card</label>
                            </div>
                            <div class="form-check">
                                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                    required>
                                <label class="form-check-label" for="paypal">PayPal</label>
                            </div>
                        </div>

                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="cc-number" class="form-label">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration" class="form-label">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="cc-cvv" class="form-label">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>

                        <button class="w-100 btn btn-primary" type="submit" [routerLink]="['../order']">Finalizar orden</button>
                    </form>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->